<div class="wrapper">
	<h2>Account Login</h2>
	<section class="form-section">
		<form action="/auth/login" method="POST" class="row g-3">
			{{#if errorMessage}}
				<div class="col-12 text-center">
					<p class="error-message">{{errorMessage}}</p>
				</div>
			{{/if}}
			
			<div class="col-12">
				<label class="form-label" for="email">Email</label>
				<input 
					class="form-control" 
					id="email" 
					placeholder="user@example.com" 
					type="text" 
					required="required"
					name="email"
				/>
			</div>

			<div class="col-12">
				<label class="form-label" for="password">Password</label>
				<input
					class="form-control" 
					id="password" 
					placeholder="********" 
					type="password"
					name="password"
				/>
			</div>

			<div>
				<button class="pet-form-button" type="submit">Login</button>
			</div>
		</form>
	</section>
</div>