<div class="text-center mt-1">
  <section class="form-section">
    <form action="/complaint/create" method="post" enctype="multipart/form-data" class="row g-3 bg-moonstone mt-3">
		<div class="text-center"><img src="/images/complaint-icon.png" alt="" height="60px"></div>
			<h4 class="my-0" style="text-shadow: 1px 1px 1px black;">Create New Complaint</h4>
      {{#if errorMessage}}
			<div class="col-12 text-center">
				<p class="error-message">{{errorMessage}}</p>
			</div>
			{{/if}}

			<div class="col-md-4">
				<label class="form-label" for="userId"> Supplier</label>
				<select name="userId" class="form-control" id="" required="required">
					{{#each allSuppliers}}
						<option value="{{_id}}">{{org}}</option>
					{{/each}}
				</select>
			</div>

      
			<div class="col-md-8">
				<label class="form-label" for="partNumber">Part Number</label>
				<input 
					class="form-control"
					id="partNumber" 
					placeholder="..." 
					type="text"
					required="required"
					name="partNumber"
				/>
			</div>

			<div class="col-md-3">
				<label class="form-label" for="batch">Batch</label>
				<input 
					class="form-control"
					id="batch" 
					placeholder="..." 
					type="text"
					required="required"
					name="batch"
				/>
			</div>

			<div class="col-md-3">
				<label class="form-label" for="quantity">Quantity</label>
				<input 
					class="form-control" 
					id="quantity" 
					placeholder="0"
					type="number"
					required="required"
					name="quantity"
          min="0"
				/>
			</div>

			<div class="col-md-6">
				<label for="problemDate" class="form-label">Problem date</label>
				<input 
					class="form-control"
					id="problemDateForm"
					type="date" 
					required="required"
					name="problemDate"
					max=""
				>
			</div>

			<div class="col-12">
				<label class="form-label" for="problemDesc">Problem Description</label>
				<textarea 
					class="form-control"
					id="problemDesc" 
					placeholder="..."
					type="text"
					required="required"
					name="problemDesc"
          cols="40"
          rows="3"
				></textarea>
			</div>

			<div class="col-12">
				<label class="form-label" for="problemImg">Problem Image</label>
				<input 
					class="form-control" 
					id="problemImg" 
					placeholder="" 
					type="file"
					required="required"
					name="problemImg"
          accept=".gif, .jpg, .jpeg, .png," 
				/>
			</div>

			<div>
				<button class="pet-form-button" type="submit">Create Complaint</button>
			</div>
    </form>
  </section>
</div>


