<section id="main">
  <div class="d-flex flex-column mt-2 align-items-center justify-content-center px-4 mb-5">
    <div class="mt-3 d-flex flex-column align-items-center">
      <h2 class="text-center">Address the best practices for <span>Supplier Corrective Action & Issue Register (SCAR)</span> with us!</h2>
      <h5 class="text-secondary text-center" style="text-shadow: none;">Supplier Corrective Action automation and traceability has never been so reachable, fulfill your prefered International Quality Standard, such as ISO 9001 or even IATF 16949 or ISO 13485!</h5>
      <div>
        <img src="images/ISO.png" alt="iso-logo" width="180px" class="rounded-3">
      </div>
    </div>

    <div class="mt-4 text-justify" style="width: 80%;">
      <p>One of the main problems in most of the companies is the follow up, on-time registry and fidelity of the Supplier Corrective Actions. Most of the time, the record is made by hand of the SQE.
      </p>
      <p>
      This is one of the tasks that takes a lot of time for the SQE to be efficient enough.
      Big companies have developed their own implementation and solutions, commonly the OEMs, Tier-1s, and Electronic component manufacturers.
      </p>
      <p>
      Our mission is to bring you a simple solution, easy of access, and as secure as your own intranet for the follow up of your SQEs in the problems that your organization encounters so often in the trip of the continuous improvement.
      </p>
      <p>
      Our vision is to be one of the best solutions for  supplier management standardization in the market. Simple solutions are the most durable and suitable, we want it to keep it simple for you.
      </p>
    </div>

    {{#unless isLoggedIn}}
    <div class="mt-2">
      <a href="/auth/signup" class="btn btn-secondary btn-lg">
      <strong class="px-5" style="text-shadow: none;">Sign up now!</strong>
      </a>
    </div>
    {{/unless}}
  </div>

  <div class="row d-flex flex-row my-5 justify-content-evenly align-items-origin">
    <div class="card col-md-5 bg-dark" style="--bs-bg-opacity: .2;">
        <img src="images/23-CQI-19.png" class="card-img-top mt-2" alt="CQI-19-logo">
        <div class="card-body">
          <h5 class="card-title text-light pb-4">What can you address with SQM.copilot right now?</h5>
          <ul class="card-text">
            <li class="text-light">Create and manage Supplier accounts.</li>
            <li class="text-light">Issue complaints with pictures with immediate visibility at Supplier account.</li>
            <li class="text-light">follow up the aging of each complaint created.</li>
            <li class="text-light">Problem solving thorugh the widely and most effective tool: <em>8 Disciplines</em>.</li>
            <li class="text-light">Approve and reject per Discipline step.</li>
            <li class="text-light">Your created Main account will receive email alerts for Complaints and Report updates, including Actions</li>
            <li class="text-light">Your Suppliers can upload attachments for every problem solving step</li>
            <li class="text-light">Your Suppliers will also receive alerts through email for User creation, Complaint creation and Report approval.</li>
          </ul>
        </div>
      <p class="text-secondary text-center" style="text-shadow: none;">The next steps part approvals, audits scheduling and AI integration!</p>
    </div>

    <div class="col-md-5 d-flex flex-column justify-content-center">
    <div class="card col-md-12 m-2 bg-dark" style="--bs-bg-opacity: .2;">
      <img src="images/8D.jpg" class="card-img-top mt-2 px-2" alt="8D-image">
      <div class="card-body">
        <h5 class="card-title text-light">What is an 8D?</h5>
        <p class="card-text text-light">It's the short name for the 8 disciplines, a tool and methodology for problem solving widely used in several companies, because of it's effectiveness to address systematic solutions.</p>
        <a href="https://asq.org/quality-resources/eight-disciplines-8d" class="btn btn-primary">Got to ASQ definition</a>
      </div>
    </div>

    <div class="card col-md-12 m-2 bg-dark" style="--bs-bg-opacity: .2;">
      <img class="card-img-top mt-2 px-2" src="images/sqm.png" alt="SQM-app">
      <div class="card-body">
        <h5 class="card-title text-light">What is the extension of Supplier Quality Management?</h5>
        <p class="card-text text-light">The Automotive Industry Action Group issued this standard for sub-suppliers to help to address the most effective methods for a healthy Supply Chain Quality.</p>
        <a href="https://webstore.ansi.org/standards/aiag/aiagcqi192018" class="btn btn-primary">Go to AIAG definition</a>
      </div>
    </div>
    </div>
  </div>
</section>