<div class="text-center mt-1">
	<section class="form-section">
		<form action="/auth/create-user" method="POST" class="row g-3 bg-moonstone mt-1">
			<div class="text-center"><img src="/images/supplier-icon.png" alt="" height="60px"></div>
			<h4 class="my-0" style="text-shadow: 1px 1px 1px black">Create User for Supplier</h4>
			{{#if errorMessage}}
				<div class="col-12 text-center">
				<p class="error-message">{{errorMessage}}</p>
				</div>
			{{/if}}

			<div class="col-12">
				<label class="form-label" for="username">Username</label>
				<input 
					class="form-control" 
					id="username" 
					placeholder="..." 
					type="text" 
					required="required"
					name="username"
				/>
			</div>
			
			<div class="col-12">
				<label class="form-label" for="email">Email</label>
				<input 
					class="form-control" 
					id="email" 
					placeholder="user@example.com" 
					type="email" 
					required="required"
					name="email"
				/>
			</div>

			<div class="col-md-6">
				<label class="form-label" for="password">Password</label>
				<input
					class="form-control" 
					id="password" 
					placeholder="********" 
					type="password"
					name="password"
				/>
			</div>

			<div class="col-md-6">
				<label class="form-label" for="confirmPassword">Confirm password</label>
				<input
					class="form-control" 
					id="confirmPassword" 
					placeholder="********" 
					type="password"
					name="confirmPassword"
				/>
			</div>

			<div class="col-12">
				<label class="form-label" for="username">Organization</label>
				<input 
					class="form-control"
					id="username" 
					placeholder="Company Ltd." 
					type="text"
					required="required"
					name="org"
				/>
			</div>

			<div>
				<button class="pet-form-button" type="submit">Create Account</button>
			</div>
		</form>
	</section>
</div>