/* Palette du color */
/* #272727 Raisin black */
/* #FED766 Mustard */
/* #009FB7 Moonstone */
/* #696773 Dimgray */
/* #EFF1F3 Anti-flash white */

/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */

:root {
  --bg: #212121;
  --color1: #e91e63;
  --color2: #004e89;
  --invalid: #b71c1c;
  --valid: #43a047;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #FED766;
  color: white;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

/* Navbar */

header {
  background-color: #0F0F0F;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #272727;
  color: #fff;
  padding: 10px;
}

.navbar-button {
  margin-left: 10px;
  background-color: #EFF1F3;
  color: #696773;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: #EFF1F3;
  color: #009FB7
}

.navigation {
  display: flex;
}

/* form styles */
.wrapper {
  margin-top: 60px;
  text-align: center;
}
.wrapper h2:first-child {
  text-shadow: 1px 1px 1px black;
}
.form-section {
  /* margin-top: 40px; */
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 1px black;
}
form {
  width: 400px;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
}
form div {
  text-align: left;
}
.form-field {
  position: relative;
  width: 100%;
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: none;
}
.pet-form-button {
  width: 100%;
  border: none;
  color: white;
  background-color: #696773;
  padding: 0.8rem;
  border-radius: 0.4rem;
}
.pet-form-button:hover {
  cursor: pointer;
  box-shadow: 0 0 11px yellow; 
}
a {
  color: #fff;
}



/* Detail Styles */

.container {
  background-color: #272727;
  border-radius: 4px;
  max-width: 500px;
  margin: 0 auto;
}


@media (max-width: 576px) {
  .card {
    max-width: 100%;
  }
}

.error-message {
  color: rgb(255, 49, 49);
}


/* Report status backgrounds */
.bg-rejected {
  background-color: #696773;
}
.bg-approved {
  background-color: #009FB7;
}


#create-action-btn {
  position: fixed !important;
  right: -60px !important;
  top: 40% !important;
  text-align: left !important;
}
#create-action-btn:hover {
  width: 150px !important;
}

#main {
  overflow: hidden;
  text-shadow: 1px 1px 1px black;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -1000px 0;
}

.d-step {
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden
}

.text-justify {
  text-align: justify;
}

.d-form {
  width: 100%;
}

.btn {
  text-shadow: none !important;
}

.bg-antiflash-white {
  background-color: #EFF1F3;
}

.text-moonstone {
  color: #009FB7
}

.bg-moonstone {
  background-color: #009FB7;
}